.profileHeader {
    background-color: white;
    padding-top: 20px;
    margin-bottom: 20px;
    border-bottom: 5px solid;
    border-right: 5px solid;
    border-left: 5px solid;
    border-radius: 0px 0px 20px 20px;
}

.profile {
    margin: auto;
    max-width: 1300px;
}
